1 VERSIONINFO
FILEVERSION     1,2,2,0
PRODUCTVERSION  1,2,2,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
	//BLOCK "080904E4" 	// English UK
    BLOCK "040904E4"	// English US
    BEGIN
	  VALUE "CompanyName", "EmK530"
      VALUE "FileDescription", "GameMaker Direct3D11 hook for low VRAM devices"
      VALUE "FileVersion", "1.2.2"
      VALUE "InternalName", "libGMDXhook"
      VALUE "LegalCopyright", "(c) 2026 EmK530"
      VALUE "OriginalFilename", "gmdxh.dll"
      VALUE "ProductVersion", "1.2.2.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
	//VALUE "Translation", 0x809, 1252	// English UK
    VALUE "Translation", 0x409, 1252	// English US
  END
END